# Server
PORT=5000

# MSSQL connection
DB_SERVER=.\SQLEXPRESS
DB_NAME=HostelManagement

# Use Windows auth on local Windows if true
DB_TRUSTED_CONNECTION=true

# Required only when DB_TRUSTED_CONNECTION=false
DB_USER=
DB_PASSWORD=
